*{padding: 0%; margin: 0; box-sizing: border-box; text-decoration: none}

ul{list-style: none;}
a{ text-decoration: none; }

html{ scroll-behavior: smooth; } 
body{ font-family: Arial, Helvetica, sans-serif; margin-top: 20px;}

.main{height: auto;}

/* ---------------------------- Start top bar ------------------------------------- */
.top-bar{ width: 100%; height: auto; border-bottom: 1px solid rgb(232, 231, 231); position: fixed; background-color: white; z-index: 999; margin-top: -1px; margin-left: 35px;}
.top-nav{ width: 1400px; height: 40px;  margin: auto auto; display: flex; font-size: 13px; color: rgb(204, 203, 203); }

.top-left{ width: 64%; padding: 10px; float: left; margin-left: -30px;}
.top-left ul li{ display: inline; margin-right: 10px; font-weight: bold; }
.top-left ul li a{ display: inline-block; font-weight: bold; color: #8b8a89; margin-left: 10px;}
.top-left ul li a:hover{color: #eb4d4b;  text-decoration: none; }
.top-left ul li img{ width: 14px; height: 14px;}

.top-right{ width: 36%; padding: 10px; float: right; margin-right: -10px; }
.top-right ul li{ display: inline; margin-right: 10px;}
.top-right ul li a{ display: inline-block; font-weight: bold; color: #8b8a89}
.top-right ul li a:hover{color: #eb4d4b;  text-decoration: none; }
.top-right ul li img{ width: 13px; height: 13px;}

.top-bar .fa{margin-right: 8px;}
/* ------------------------------ End top bar ------------------------------------- */


/* ---------------------------- Start Name bar ------------------------------------- */
.name-bar{ width: 100%; border-bottom: 1px solid rgb(232, 231, 231); z-index: 1000; position: fixed; margin-top: 39px; background-color:white; border-top: 1px solid rgb(232, 231, 231);} 
.name-mid{ width: 1400px;height: 80px; margin: auto auto; display: flex;}
/*- Name div -*/
.site-name{ width: 20%; display: flex; }
.name-bar h1 {padding:15px 0 20px 0;}
.name-bar h3 {padding-top: 27px; }
.name-bar a{ color: black;}
.name-bar a:hover{ text-decoration: none;}
.name-img img{width: 70px; height: 70px; margin-top: 3px; margin-right: 10px;}
/*- Search div -*/
.search-bar{width: 58%;  padding-top: 22px; }


.search-box{ width: 70%; height: 35px; margin: auto auto; background-color:#0E86D4; border: 2px solid #0E86D4; border-radius: 20px; display: flex; }
.search-boxs{width: 90%; height: 100%; background-color: white; border-radius: 20px; }
.s-box{ width: 90%; height: 100%; border: none; outline: none; margin-left: 25px;}
.search-btn{width: 10%; height: 100%; border-radius: 20px; }
.search-btn img{ width: 25px; height: 25px; margin-left: 15px; margin-top: 3px;}

.search-bar h5{float:right; margin-top:-25px; font-size: 15px;}
/*- Login-cirt div -*/

.login-cirt{ width: 10%; }
.login-cirt img{ width: 30px; height: 30px; margin-top:19px; margin-left: 20px;}
.login-cirt ul li{ display: inline-block;}
.rounded-circle{  border: 1px solid rgb(184, 183, 183);}
.dropdown-menu{margin-top: 30px;}

.cirt-number{ width: auto; height: auto; border-radius:20px; background-color: red; color: white; padding-left: 2px; padding-right: 2px; font-size: 10px; }
.cirt-number h1{ padding: 10px;}

.cirt-Total{ width: 9%; }
.cirt-Total ul { margin-top: 30px;}
.cirt-Total ul li{ display: inline-block; font-size: 18px; font-weight: bold;}

.btn{width: 100%; margin-top: 10px; margin-bottom: 20px;}

/* ---------------------------- End Name bar ------------------------------------- */



/* -------------------------------------------------- Start Site page  ------------------------------------------------------------ */

.site-page{width: 1400px; height: auto; margin: auto auto; display: flex; border-bottom: 1px solid rgb(232, 231, 231); border-right: 1px solid rgb(232, 231, 231); }

/* --------------------------- Start navigation  ----------------------------------- */

.navigation{ width: 300px; height:auto; border-right: 1px solid rgb(232, 231, 231); position: fixed; margin-top: 120px; z-index: 998; background-color: white;}
.navigation h2{ font-weight: lighter; padding-top: 20px;  font-weight: bold;}
.post_ad{width: 100px; height: 50px; background-color: #007bb6; color: white;}

.navigation .btn{height:50px; width: 170px; margin-left: 60px; margin-top: 20px; font-size: 25px; }

nav{ width: 80%; height: 80%; margin: 20px auto 0 auto;  margin-left:-10px; }
nav ul li{width:180px; border-bottom: 1px solid rgb(232, 231, 231); margin-left:20px}
nav ul li a{ color: black;}

/*---- side drop down --- -*/
.sub{width:170px; height: auto; background-color: white; z-index: 1000; margin-left:200px; margin-top:-30px; box-shadow: 2px 2px 20px rgba(0,0,0,0.2); display: none;}  

.mainbutton{display: flex;}
.mainbutton button{border:none; background:none; width:170px; padding: 10px;}
.mainbutton button:hover{background-color: rgb(232, 231, 231)}
.mainbutton i{margin-top:15px; margin-left:-15px;  }

.sub-1{width: 100px; height: 100%; text-align: center; }
.sub-1 ul{ border-bottom:none; margin-left: -20px; }
.sub-1 li{border-bottom:none;}
.sub-1 ul li:hover{background-color: rgb(232, 231, 231);  }
.sub-1 li button{border:none; width:170px; background:white; padding: 10px; border-bottom: 1px solid rgb(232, 231, 231)}
.sub-1 li button:hover{background-color: rgb(232, 231, 231);  }
.Drop-side:hover .sub{ position: absolute; display: block; }

/*---- Product grid ---- -*/        
.product{width: 100%;height: auto; margin-left: auto; margin-right: auto; }
.Pro_container{	display: grid; grid-template-columns: 25% 25% 25% 25%; grid-row-gap: 0px; grid-column-gap: 20px;}
.modal-body button{margin-left: 0px;}


/* ---------------------------- End navigation  ------------------------------------ */






/* --------------------------- Start product list  ----------------------------------- */

.product_list{ margin-top: 120px; margin-left: 300px;}

.item-box{ width: 200px;  box-shadow: 2px 2px 30px rgba(0,0,0,0.2); border-radius: 10px; overflow: hidden; margin: 20px; }
.item-img{ position: relative; border-bottom: 1px solid rgb(166, 165, 165)}
.item-img img{ width: 100%; ; object-fit: cover; box-sizing: border-box; }

.detail-box{ width: 100%; display: flex; justify-content: space-between; padding:10px 10px; box-sizing: border-box; font-family:calibri;}
.detail{ display: flex; flex-direction: column; }
.detail a{ color: #222222; margin: 20x 0px; font-size: 17px; font-weight: bold; letter-spacing: 0.2px; padding-right: 8px; }
.detail span{ font-size: 13px; color: green; margin-left: -50px;}

.price{ margin-top: 14px; color: rgba(26,26,26,0.5); }
.price span{ font-size: 13px; }
.price-num{ color: #333333; font-weight: 600; font-size: 16px; font-family: poppins; letter-spacing: 0.5px; margin-left: 3px; text-decoration: none; }

.buynow-layer{ width: 100%; height: 100%; position: absolute; left: 50%; right: 50%; transform: translate(-50%, -100%); background-color: rgba( 92, 95, 236, 0.6 ); justify-content: center; align-items: center; visibility: hidden; padding-top: 100px; padding-left: 50px;}

.buy-btn{ width: 100px; height: 30px; display: flex; justify-content: center; align-items: center; color: #252525; font-weight: 700; letter-spacing: 1px; font-family: calibri; border-radius: 20px; box-shadow: 2px 2px 30px rgba(0,0,0,0.2); background-color: #FFFFFF; margin-top: 10px; font-size: 15px; } 
.buy-btn:hover{ color: #FFFFFF; background-color: #eb4d4b; transition: all ease 0.3s; text-decoration: none;}

.item-img:hover .buynow-layer{ visibility: visible; animation:fade 0.5s;}
@keyframes fade{ 0%{ opacity: 0} 100%{ opacity: 1;}}

.item-box-1{box-shadow: 2px 2px 30px rgba(0,0,0,0.2); border-radius: 10px; overflow: hidden; margin: 20px;}


/* ---------------------------- End Site page ------------------------------------ */


/* -------------------------------------------------- End Site page  ------------------------------------------------------------ */



/* ----------------------------- Start Footer ------------------------------------ */

.footer{ width: 1400px; margin: auto auto; background-color: #8b8a89 ; margin-top: 20px; border-top: 1px solid black; }
.site-footer{ background-color:#26272b; padding:45px 0 20px; font-size:15px; line-height:24px; color:#737373;}
.site-footer hr{ border-top-color:#bbb; opacity:0.5 }
.site-footer hr.small{ margin:20px 0 }
.site-footer h6 { color:#fff; font-size:16px; text-transform:uppercase; margin-top:5px; letter-spacing:2px}
.site-footer a{ color:#737373;}
.site-footer a:hover{ color:#3366cc; text-decoration:none;}
.footer-links{ padding-left:0; list-style:none}
.footer-links li{ display:block}
.footer-links a{ color:#737373}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover{ color:#3366cc; text-decoration:none;}
.footer-links.inline li{ display:inline-block }
.site-footer .social-icons{ text-align:right }
.site-footer .social-icons a{ width:40px; height:40px; line-height:40px; margin-left:6px; margin-right:0; border-radius:100%;  background-color:#33353d}
.copyright-text{ margin:0}
.social-icons{ padding-left:0; margin-bottom:0; list-style:none}
.social-icons li{ display:inline-block; margin-bottom:4px}
.social-icons li.title{ margin-right:15px; text-transform:uppercase; color:#96a2b2; font-weight:700; font-size:13px}
.social-icons a{ background-color:#eceeef; color:#818a91; font-size:16px; display:inline-block; line-height:44px; width:44px;  height:44px; text-align:center; margin-right:8px; border-radius:100%; -webkit-transition:all .2s linear; -o-transition:all .2s linear;  transition:all .2s linear}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover{ color:#fff; background-color:#29aafe}
.social-icons.size-sm a{ line-height:34px; height:34px; width:34px; font-size:14px}
.social-icons a.facebook:hover{ background-color:#3b5998 }
.social-icons a.twitter:hover{ background-color:#00aced }
.social-icons a.linkedin:hover{ background-color:#007bb6 }
.social-icons a.dribbble:hover{ background-color:#ea4c89 }

/* ------------------------------ End Footer ------------------------------------ */




@media (max-width:1050px)
{
  .grid-container{ display: grid; grid-template-columns: auto auto auto; }
  .navigation{ width: 250px;}
}

@media (max-width:991px)
{
    .footer{
        width: 100%;
    }
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
  .grid-container{ display: grid; grid-template-columns: auto auto auto; }
}

@media (max-width:800px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
  .grid-container{ display: grid; grid-template-columns: auto auto ; }
}


